.Card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #3333;
    background-color: rgb(177, 214, 238);
    padding: 10px;
    text-align: center;
    border: 2px solid #444;
}

h1{
    text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}